.App {
  color: #05615f;
}

.App-header {
  background-color: #d5f0ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  padding: 2%;
}
